<h2 class="title">Cart</h2>

<div *ngFor="let item of items" class="columns cart">
    <div class="column">
        <div class="cart-item">
            <img [src]="'/assets/products/'+ item.thumbnail"  />
            <div class="cart-content">
                <p class="item-title">{{item.name}}</p>
                <p class="subtitle">{{item.consoles}}</p>
            </div>
        </div>
    </div>

    <div class="column amount-area">
        <button (click)="decrement()">-</button>
        <input type="text" class="amount" [value]="amount" disabled/>
        <button (click)="increment()">+</button>
    </div>

    <p class="column price">$ {{item.price}}</p>
</div>