<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="header-left">
      <div class="navbar-brand">
        <a class="logo" [routerLink]="['/']">
          <img src="/assets/logo.png" alt="Logo RCA" />
        </a>
      </div>
      <a [routerLink]="['/']">
        Products
      </a>
    </div>
    <div class="navbar-menu">
        <button class="button login" (click)="openLogin()">
          Login
        </button>
        <div [class]="popover">
          <div class="popover-arrow"></div>
          <div class="popover-content">
            <app-user></app-user>

          </div>
        </div>
    </div>
  </div>
</nav>
<div class="banner">
  <img src="/assets/banner.png" alt="Logo RCA" />
</div>