<div class="columns header">
    <h2 class="title">Products</h2>
    <div class="cart">
        <a routerLink="/cart">
            <img src="/assets/cart.png" alt="Cart" />
        </a>
        <p class="amount">{{amount}}</p>
    </div>
</div>

<div class="columns">
    <div *ngFor="let product of products" class="column product">
        <div class="card">
            <header class="card-header">
                <div class="card-title">
                    <h4>{{product.name}}</h4>
                    <span>{{product.consoles}}</span>
                </div>
                
                <span class="card-price">${{product.price}}</span>
            </header>
            <div class="card-content card-center">
                <img [src]="'/assets/products/'+ product.thumbnail" />
                <button class="card-footer button" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>