<h2 class="title is-2">Products</h2>

<div class="columns">
    <div *ngFor="let product of products" class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
        <div class="card">
            <header class="card-header">
                <h4 class="card-header-title">{{product.name}}</h4>
                <h4 class="card-header-icon">{{product.price}}</h4>
              </header>
            <div class="card-content">
                <div class="midia">
                    <figure class="image">
                        <img [src]="'/assets/products/'+ product.thumbnail"  />
                    </figure>
                  </div>
            </div>
            <footer class="card-footer">
                <button class="card-footer-item" (click)="addToCart(product)">Add to Cart</button>
              </footer>
        </div>
    </div>
</div>
