.footer {
    width: 100%;
    background-color: #424242;
    padding: 3rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: #367BA4;
            font-size: 1.4rem;
        }
    }

    
}