<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" autocomplete="off">
    <div class="field">
        <div class="control">
            <input id="email" class="input" type="email" formControlName="email" placeholder="E-mail">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input id="password" class="input" type="password" formControlName="password" placeholder="Password">
        </div>
    </div>
    <button class="button submit" type="submit">Login</button>
</form>